<mat-toolbar>
  <mat-toolbar-row *ngSubscribeTo="userStore | async as user">
    <button class="toggle-menu-visibility" mat-icon-button (click)="sideNavService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button class="toggle-menu-width" mat-icon-button *ngIf="!(layoutService.isSmall$ | async)"
      (click)="sideNavService.toggleWidth()">

      <mat-icon [@rotationClockWise]='(sideNavService.isFullWidth$ | async) ? "close" : "open"'>
        {{"symbols.arrow.back" | translate}}
      </mat-icon>

    </button>

    <h2>{{navTitleService.tilte$ | async | titlecase}}</h2>

    <span class="spacer"></span>

    <button class="account-info-switch" mat-icon-button [matMenuTriggerFor]="accountInfo"
      [matMenuTriggerData]="{u : user, l : languages, c: currentLanguage}">
      {{user?.username | uppercase | slice : 0 : 1}}
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-menu class="account-info" #accountInfo>
  <ng-template matMenuContent let-user="u" let-languages="l" let-currentLanguag="c">
    <div class="user">
      <div class="user-icon">{{user?.username | uppercase | slice : 0 : 1}}</div>
      <div class="user-info">
        <h2>{{user?.username}}</h2>
        <p>{{user?.email}}</p>
      </div>
    </div>

    <mat-divider></mat-divider>
    
    <button mat-menu-item [matMenuTriggerFor]="languageSelection"
      [matMenuTriggerData]="{l : languages, c : currentLanguage }">
      <mat-icon>language</mat-icon>
      <span>{{ "toolbar.accountMenu.language" | translate }}</span>
    </button>

    <button mat-menu-item>
      <mat-icon>notifications</mat-icon>
      <span>{{ "toolbar.accountMenu.notifications" | translate }}</span>
    </button>

    <button mat-menu-item (click)="authService.logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ "toolbar.accountMenu.logout" | translate }}</span>
    </button>

    <mat-divider></mat-divider>
  </ng-template>
</mat-menu>

<mat-menu class="language-selection" #languageSelection>
  <ng-template matMenuContent let-languages="l" let-currentLanguage="c">
    <button mat-menu-item *ngFor="let language of languages" (click)="changeLanugage(language.code)"
      [class.active]="language.code == currentLanguage.code">
      {{language.name}}
    </button>
  </ng-template>
</mat-menu>
