@import '../../../../theme/variables.scss';
@import '../../../../theme/customs/resizable-mat-icon-button.scss';
@import '../../../../theme/mixins/flex.scss';

mat-toolbar {
  height: $toolbar-height !important;
  min-height: unset !important;

  .mat-toolbar-row {
    height: inherit;
    padding: 0 !important;
    background-color: $primary;
    color: $secondary;
    @include resize-mat-icon-button(35);

    .toggle-menu-visibility {
      width: 47px;
      height: 100%;
      border-radius: 0 !important;
      background: $light-primary;
    }

    .toggle-menu-width {
      margin: 0 4px
    }

    h2 {
      padding: 4px 4px 0 4px;
    }

    button.account-info-switch {
      margin: 0 4px;
      background-color: $light-primary;
    }
  }
}
