<div class="logo">
  <img src="../../../../../assets/OneCard-logo.png" />
</div>

<mat-nav-list>
  <ng-container *ngFor="let dir of directories">

    <mat-list-item class="dir" [matTooltip]="dir.title"
      (click)="opendDir = opendDir == dir ? null : dir ; dissmissSideNavIfSmall(dir);">

      <mat-icon>{{dir.icon}}</mat-icon>

      <span class="item-text spacer" [@shrinkExtendMenuLink]="showLinkText ? 'show' : 'hide'">{{ dir?.title }} </span>

      <mat-icon class="arrow-forward" 
      [@rotationCounterClockWise]="dir == opendDir && directionality.value == 'rtl'? 'open' : 'close'"
      [@rotationClockWise]="dir == opendDir && directionality.value == 'ltr' ? 'open' : 'close'"
        [@shrinkExtendMenuLink]="showLinkText ? 'show' : 'hide'">
        {{ "symbols.arrow.forward" | translate }}
      </mat-icon>

    </mat-list-item>

    <div class="pages" *ngIf='dir == opendDir' @revealVertically>

      <mat-list-item mat-list-item [routerLink]="subPage.route" routerLinkActive="active"
        *ngFor="let subPage of dir.pages" (click)="dissmissSideNavIfSmall(subPage)" [matTooltip]="subPage.title">

        <mat-icon>{{subPage?.icon}}</mat-icon>

        <span class="item-text spacer" [@shrinkExtendMenuLink]="showLinkText ? 'show' : 'hide'">{{ subPage?.title }} </span>

      </mat-list-item>
    </div>

  </ng-container>
</mat-nav-list>
