// Global variables

// colors
$primary : #a15d84;
$secondary: #fff;
$tertiary: #607D8B;
$light-primary: #bc8aa7;
$gray-background:#e6e6e6;
$gray-text: #5f6368;
$black-text:#202124;
//

// toolbar
$toolbar-height: 45px;

// Side nav menu
$item-devider-color:#f6eff3;



// :root {
//     --toolbar-height: 45px;
//     //--primary: #009688;
//     --primary: #a15d84;
//     // --primary: #c55252;
//     --secondary: #fff;
//     --tertiary: #607D8B;
//     --light-primary: #F3E5F5
//   }
