<ng-progress [spinner]="false"></ng-progress>

<app-toolbar></app-toolbar>  

<mat-sidenav-container>
  
  <mat-sidenav [@shrinkExtendMenu]="(sideNavService.isFullWidth$ | async) ? 'open' : 'close'" 
    [mode]="(layoutService.isSmall$ | async) ? 'over': 'side'" [opened]="sideNavService.isOpen$ | async"
    (closed)="sideNavService.toggle(false)">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content 
    [@shrinkExtendContentRTL]="(layoutService.isSmall$ | async) || directionality.value =='ltr' ? 'close' : (sideNavService.isOpen$ | async) ? (sideNavService.isFullWidth$ | async) ? 'extended' : 'open' : 'close'"
    [@shrinkExtendContentLTR]="(layoutService.isSmall$ | async) || directionality.value =='rtl' ? 'close' : (sideNavService.isOpen$ | async) ? (sideNavService.isFullWidth$ | async) ? 'extended' : 'open' : 'close'">
    <app-content></app-content>
  </mat-sidenav-content>
  
</mat-sidenav-container>
