<ng-progress [spinner]="false"></ng-progress>

<app-toolbar></app-toolbar>

<mat-sidenav-container>

  <mat-sidenav [opened]="show$ | async" [@shrinkExtendMenu]="(expanded$ | async) ? 'open':'close'" [mode]="(small$ | async) ? 'over':'side'">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content
    [@shrinkExtendContentRTL]="((small$ | async) || directionality.value =='ltr') ? 'close' : (show$ | async) ? (expanded$ | async) ? 'expanded' : 'open' : 'close'"
    [@shrinkExtendContentLTR]="((small$ | async) || directionality.value =='rtl') ? 'close' : (show$ | async) ? (expanded$ | async) ? 'expanded' : 'open' : 'close'">
    <app-content></app-content>
  </mat-sidenav-content>

</mat-sidenav-container>
